@import 'tailwindcss';
@import '@nuxt/ui';
@import './gradients.css';

@theme {
  --font-mono: 'Victor Mono', 'monospace';
  --font-subtitle: 'Sono', 'sans-serif';
  --font-display: 'Sixtyfour Convergence', 'sans-serif';
  --gradient-rainbow: linear-gradient(
    to right,
    #e87777 35%,
    #eaaa77 40%,
    #eacc77 45%,
    #eded77 50%,
    #aaeaaa 55%,
    #77ccea 60%,
    #ccaaea 65%,
    #eaaad4 70%
  );
}

/* Custom utility classes */
.bg-rainbow-gradient {
  background-image: var(--gradient-rainbow);
}

.link-url {
  color: var(--color-blue-400);
  &:hover {
    color: var(--color-blue-200);
  }
}
